body {
    border: 2px solid black;
}

:root {
    font-size: 18px;
}



button {
    margin: 0.6em 0.8em;
    font-weight: 700;
    padding: 0.7% 0.7%;
    border-radius: 5px;
    text-transform: uppercase;
}

.simple{
    background-color: #f4f3f2;
    color: #707486;
    border: 1px solid #f4f3f2;
}

#simpledif {
    border-color: gray;
}

.pequenia{
    font-size: 0.5em;
}

.grande{
    font-size: 1.3em;
}

.esmeralda{
    background-color: #57d68d;
    border: 1px solid #57d68d;
    color: #57d68d;
}

.cielo {
    background-color: #5cace2;
    border: 1px solid #5cace2;
    color: #5cace2;
}


.amatista {
    background-color: #ae7ac4;
    border: 1px solid #ae7ac4;
    color: #ae7ac4
}

.asfalto {
    background-color: #5c6d7e;
    border: 1px solid #5c6d7e;
    color: #5c6d7e;
}

.topazio {
    background-color: #ea974e;
    border: 1px solid #ea974e;
    color: #ea974e;
}

.rubi {
    background-color: #ea6f62;
    border: 1px solid #ea6f62;
    color: #ea6f62;
}

.borde > button{
    background-color: white;
}

.colores button{
    color: white;
}

.combinaciones > .bgblanco {
    background-color: white;
}

.combinaciones > .letrablanca {
    color: white;
}